<div class="panel-body">
  <%= simple_form_for(@pin, html: { class: "form-horizontal"}) do |f| %>
	  <%= f.error_notification %>
	  <%= f.full_error :image_file_size, class: "alert alert-error" %>
	  <%= f.full_error :image_content_type, class: "alert alert-error" %>
    
    <div class="form-group"> 
      <%= f.input :title, as: :text, input_html: { rows: "1", :class => "form-control" }, label: "Title Your Review" %>
    </div>
    <div class="form-group">    
      <%= f.input :image, label: "Upload an image of the album cover art" %>
    </div>
    <!--<div class="form-group">    
      <%= f.input :image_remote_url, input_html: { rows: "1", :class => "form-control" }, label: "or enter a URL" %>
    </div> -->
    <div class="form-group"> 
      <%= f.input :artist, as: :text, input_html: { rows: "1", :class => "form-control" }, label: "Artist" %>
    </div>
    <div class="form-group"> 
      <%= f.input :album, as: :text, input_html: { rows: "2", :class => "form-control" }, label: "Album Title" %>
    </div>
    <div class="form-group"> 
      <%= f.input :year, as: :text, input_html: { rows: "1", :class => "form-control" }, label: "Release Year" %>
    </div>
    <div class="form-group"> 
      <%= f.input :rank, as: :text, input_html: { rows: "1", :class => "form-control" }, :hint => "(Enter the number that you rank this album for the year)", label: "Rank" %>
    </div>
    <div class="form-group"> 
      <%= f.input :video, input_html: { rows: "1", :class => "form-control" }, :hint => "Enter a Youtube url of a performance from this album, or your own video review", label: "Enter a Youtube Link" %>
    </div>
    <div class="form-group"> 
      <%= f.input :rating, collection: [0, 0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5], label: "Rate From 0 To 5 Stars: " %>
    </div>
    <div class="form-group"> 
      <%= f.input :description, :as => :ckeditor, input_html: { rows: "5", :class => "form-control" }, label: "Review" %>
    </div>
   
    <%= f.button :submit, "Post Review", class: "btn btn-primary" %>
  <% end %>
</div>


