<div class="box">
	<%= link_to (image_tag pin.image(:medium)), pin %>
	<p class="description">
		<strong><h6><%= pin.album %><h6></strong>
	</p>
	<p class="description">
		<strong><h6><%= pin.artist %> - <%= pin.date %><h6></strong>
	
	</p>
	<p>	  
		<% if pin.rating == 1 %>
			<div class="stars stars1"></div>
		<% elsif pin.rating == 2 %>
			<div class="stars stars2"></div>
		<% elsif pin.rating == 3 %>
			<div class="stars stars3"></div>	
		<% elsif pin.rating == 4 %>
			<div class="stars stars4"></div>
		<% elsif pin.rating == 5 %>
			<div class="stars stars5"></div>			
		<% else %>
			<div class="stars stars0"></div>	
		<% end %>	
		</br>
	</p>
	<p>
		<strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
	</p>	
	<% if pin.rank.present? %>
	<p>
		<strong><h5>Ranked #<%= pin.rank %> of <%= pin.date %></h5></strong>
	</p>
	<% end %>
	<% if current_user == pin.user %>
	  <p>
		  <%= link_to 'Edit', edit_pin_path(pin) %>
		  <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
	  </p>
	<% end %> 
</div>	