<div class="box">
	<%= link_to (image_tag pin.image(:medium)), pin %>
	<p class="description">
		<strong><h6><%= pin.artist %><h6></strong>
	</p>
	<p class="description">
		<strong><h6><%= pin.album %> - <%= pin.date %><h6></strong>
	</p>
	<p>
		<strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
	</p>	
	<% if pin.rank.present? %>
	<p>
		<strong><h5>Ranked #<%= pin.rank %> of <%= pin.date %></h5></strong>
	</p>
	<% end %>
	<% if current_user == pin.user %>
	  <p>
		  <%= link_to 'Edit', edit_pin_path(pin) %>
		  <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
	  </p>
	<% end %> 
</div>	