<div class="short_box">
  <div class="short_box_image_box">
    <%= link_to (image_tag pin.image(:medium)), pin %>
  </div>
  <p class="description">
    <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
  </p>
  <p class="description">
    <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
  
  </p>

  <p>   
    <% if pin.rating == "1" %>
      <span class="rating r1"></span>
        <% elsif pin.rating == "1.5" %>
          <span class="rating r15"></span>  
        <% elsif pin.rating == "2" %>
          <span class="rating r2"></span>
        <% elsif pin.rating == "2.5" %>
          <span class="rating r25"></span>  
        <% elsif pin.rating == "3" %>
          <span class="rating r3"></span>
        <% elsif pin.rating == "3.5" %>
          <span class="rating r35"></span>    
        <% elsif pin.rating == "4" %>
          <span class="rating r4"></span>
        <% elsif pin.rating == "4.5" %>
          <span class="rating r45"></span>  
        <% elsif pin.rating == "5" %>
          <span class="rating r5"></span>     
        <% else %>
          <span class="rating r0"></span> 
    <% end %>
  </p>  
  <p>
    <strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
  </p>  
</div>