<div class="row">
		<div class="span8 offset2">			
			<div class="well">	
				<div class="boxshow">
					<%= image_tag @pin.image(:medium) %>
					<p>
					  <strong><%= @pin.artist %></strong>
					</p>
					<p>
					  <strong><%= @pin.album %> - <%= @pin.date %></strong>
					</p>
					<p>
					  <strong><%= link_to @pin.user.name, @pin.user %> ranks this as their #<%= @pin.rank %> favorite album of the year</strong>
					</p>
					<p>
					  <%= @pin.description %>
					</p>
					<div class="vid">
						<%= link_to @pin.video_html, :class => 'youtube title_link' %> 
					</div>
 						<strong>Posted by <%= link_to @pin.user.name, @pin.user %></strong>
 					</p>
					<% if current_user == @pin.user %>
						<%= link_to 'Edit', edit_pin_path(@pin) %> |
					<% end %>	
						<%= link_to 'Back', pins_path %>
					
						<h4>Comments</h4>
							<div id="comments">
								<%= render :partial => @pin.comments %>
							</div>
							<% if user_signed_in? %>
								<%= simple_form_for [@pin, Comment.new]	do |f| %>
									
									<p>
										<%= f.input :body, :label => "New Comment", as: :text, input_html: { rows: '3' } %>
										<%= f.input :author, as: :text, input_html: { rows: "1" }, label: "Posted by" %>
									</p>	

									<p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
								<% end %>		
							<% end %>
				</div>
			</div>
		</div>	
		
</div>
