<div class="row">
		<div class="span8 offset2">			
			<div class="well">	
				<div class="boxshow">
					<%= image_tag @pin.image(:medium) %>
					<p>
					  <strong><%= @pin.artist %></strong>
					</p>
					<p>
					  <strong><%= @pin.album %> - <%= @pin.date %></strong>
					</p>
					<p>
					  <strong><%= link_to @pin.user.name, @pin.user %> ranks this as their #<%= @pin.rank %> favorite album of the year</strong>
					</p>
					<p>
					  <%= @pin.description %>

					  <% if @pin.rating == 1 %>
					  	<div class="stars stars1"></div>
					  <% elsif @pin.rating == 2 %>
					  	<div class="stars stars2"></div>
					  <% elsif @pin.rating == 3 %>
					  	<div class="stars stars3"></div>	
					  <% elsif @pin.rating == 4 %>
					  	<div class="stars stars4"></div>
					  <% elsif @pin.rating == 5 %>
					  	<div class="stars stars5"></div>			
					  <% else %>
					  	<div class="stars stars0"></div>	
					  <% end %>	
					</br>
					</p>
					<div class="vid">
						<% unless @pin.video_html.blank? %>
							<%= link_to @pin.video_html, :class => 'youtube title_link' %>
						<% end %> 
					</div>
 						<strong>Posted by <%= link_to @pin.user.name, @pin.user %></strong>
 					</p>
					<% if current_user == @pin.user %>
						<%= link_to 'Edit', edit_pin_path(@pin) %> |
					<% end %>	
						<%= link_to 'Back', pins_path %>
					
						<h4>Comments</h4>
							<div id="comments">
								<%= render :partial => @pin.comments %>
							</div>
							<% if user_signed_in? %>
								<%= simple_form_for [@pin, Comment.new]	do |f| %>
									
									<p>
										<%= f.input :body, :label => "New Comment", as: :text, input_html: { rows: '3' } %>
									</p>	

									<p><%= f.submit "Add Comment", class: "btn btn-primary" %></p>
								<% end %>		
							<% end %>
					<a class="social_logo" href="/images/FB_logo.png" 
						onclick="
						window.open(
						'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href), 
						'facebook-share-dialog', 
						'width=626,height=436'); 
						return false;">
						<%= image_submit_tag("FB_logo.png", :name => nil) %>
					</a>		
				</div>
			</div>
		</div>	
		
</div>
