<div class="row">
		<div class="span6 offset3">
			<div class="well">	
				<div class="boxshow">
					<%= image_tag @pin.image(:medium) %>
					<p>
					  <strong><%= @pin.artist %></strong>
					</p>
					<p>
					  <strong><%= @pin.album %> - <%= @pin.date %></strong>
					</p>
					<p>
					  <%= @pin.description %>
					</p>
					<p>
 						<strong>Posted by <%= link_to @pin.user.name, @pin.user %></strong>
 					</p>
					<% if current_user == @pin.user %>
						<%= link_to 'Edit', edit_pin_path(@pin) %> |
						<%= link_to 'Back', pins_path %>
					<% end %>
				</div>
			</div>
		</div>	
</div>
