<div class="profilepic">
	<div class="span4">	
		<h1><%= image_tag @user.image(:small) %>     <%= @user.name %></h1>
	</div>
</div>
<div class="tens">
	<h3>Click To See The Tens year by year: </h3>
	<ul>
		<li><strong><%= link_to '2007', tens2007_user_path(@user), class: "btn btn-primary" %></strong></li>
		<li><strong><%= link_to '2008', tens2008_user_path(@user), class: "btn btn-primary" %></strong></li>
		<li><strong><%= link_to '2009', tens2009_user_path(@user), class: "btn btn-primary" %></strong></li>
		<li><strong><%= link_to '2010', tens2010_user_path(@user), class: "btn btn-primary" %></strong></li>
		<li><strong><%= link_to '2011', tens2011_user_path(@user), class: "btn btn-primary" %></strong></li>
		<li><strong><%= link_to '2012', tens2012_user_path(@user), class: "btn btn-primary" %></strong></li>
		<li><strong><%= link_to '2013', tens2013_user_path(@user), class: "btn btn-primary" %></strong></li>
	</ul>	
</div>	
<div id="pins">
  <%= render @pins %>
</div>
<%= will_paginate @pins %>
