<div id="about">
	<div class="about_title">
		<h1>All About theTens</h1>
		<br/>
	</div>	
	<div class="about_pin span4">
		<h4>The most recent review posted:</h4>
		<div id="pins">
			<%= render Pin.last %>
		</div>
	</div>	

	<p>
		<h3>Total reviews posted: <%= @pins_total %></h3>
	</p>

	<p>
		<h3>Total reviewers: <%= @users_total %></h3>
	</p>

	<p>
		<h3>The most reviewed artist: <%= @popular_artist[0] %> (<%= @popular_artist[1] %> reviews)</h3> 
	</p>

	<p>
		<h3>The most reviewed album: <%= @popular_album[0] %> (<%= @popular_album[1] %> reviews)</h3> 
	</p>

	<p>
		<h3>Number of 5 star reviews: <%= @five_stars[0] %></h3> 
	</p>

	<p>
		<h3><%= link_to image_tag("FB_logo.png"), "https://www.facebook.com/pages/The-Tens/271346382911804", :target => "_blank" %> - Follow us on facebook</h3>
	</p>

	<p>
		<h3><%= link_to image_tag("twitter29x29.png"), "http://www.twitter.com/thetensreviews", :target => "_blank" %> - Follow us on Twitter</h3>
	</p>
</div>