<div class="artist_header">
  Here are all of the artists reviewed on the site. 
  <br/>
  Click the album cover to read a review and click the album title to review the album yourself! 
</div>

<div class="artist_list"> 
  <table id="artist">
    <% last_artist ||= nil %>
    <% last_album ||= nil %>
    <% @pin_albums.each do |artist, pins| %>
      <tr>
        <td colspan="2" class="artist-name"><%= (last_artist == artist)  ?  ''   :   artist[0] %></td> 
      </tr>  
      <% pins.each do |pin| %>
        <% if last_album != pin.album %> 
          <tr>
            <td><%= link_to image_tag(pin.image), pin %></td>
            <td><%= link_to pin.album, copy_pin_path(pin) %></td>
          </tr> 
          <% last_album = pin.album %>
        <% end %>   
      <% end %>
      <% last_artist = artist %>         
    <% end %>
  </table>
</div>

<div class="artist_right_column">
  Total Reviews Posted: <%= @pins_total %>

  <br/>

  Total Artists Reviewed: <%= @artist_count %>

  <br/>
  
  Total Albums Reviewed: <%= @album_count %>
</div>  