<div class="artist_header">
  Here are all of the artists reviewed on the site. 
  <br/>
  Click the album cover to read a review and click the album title to review the album yourself! 
</div>

<div class="artist_list"> 
  <table id="artist">
    <% last_artist ||= nil %>
    <% last_album ||= nil %>
    <% @pin_albums.each do |artist, pins| %>
      <% unless last_artist == artist[0] %>
        <tr>
          <th colspan="2" class="artist-name"><%= artist[0] %></th> 
        </tr>  
      <% end %>  
      <% pins.each do |pin| %>
        <% if last_album != pin.album %> 
          <tr>
            <td><%= link_to image_tag(pin.image), pin %></td>
            <td><%= link_to pin.album, copy_pin_path(pin) %></td>
          </tr> 
          <% last_album = pin.album %>
        <% end %>   
      <% end %>
      <% last_artist = artist[0] %>         
    <% end %>
  </table>
</div>

<div class="artist_right_column">
  Total Reviews Posted: <%= @pins_total %>

  <br/>

  Total Artists Reviewed: <%= @artist_count %>

  <br/>
  
  Total Albums Reviewed: <%= @album_count %>

  <hr>

  The most reviewed artist: 

  <br/>

  <%= @popular_artist[0] %> (<%= @popular_artist[1] %>)
  
  <br/>
  
  The most reviewed album: <%= @popular_album[0] %> (<%= @popular_album[1] %>)
  
  <br/>
  
  
  Album most ranked as #1: <%= @no_1_album[0] %> (<%= @no_1_album[1] %>)
  
  <hr>
  Star Counts:
  <div class="star-ratings">
    <span class="rating r5"></span> - <%= @pin_all.where(rating: '5').count %>  
    <span class="rating r45"></span> - <%= @pin_all.where(rating: '4.5').count %> 
    <span class="rating r4"></span> - <%= @pin_all.where(rating: '4').count %> 
    <span class="rating r35"></span> - <%= @pin_all.where(rating: '3.5').count %> 
    <span class="rating r3"></span> - <%= @pin_all.where(rating: '3').count %> 
    <span class="rating r25"></span> - <%= @pin_all.where(rating: '2.5').count %> 
    <span class="rating r2"></span> - <%= @pin_all.where(rating: '2').count %> 
    <span class="rating r15"></span> - <%= @pin_all.where(rating: '1.5').count %> 
    <span class="rating r1"></span> - <%= @pin_all.where(rating: '1').count %> 
    <span class="rating r05"></span> - <%= @pin_all.where(rating: '0.5').count %>   
    <span class="rating r0"></span> - <%= @pin_all.where(rating: '0').count %> 
  </div>  

  <br>

  <%= link_to 'Click To See All 5 Star Reviews!', five_star_path, class: 'btn btn-primary' %>

  <br><br>

  <%= link_to 'Click To See All #1 Reviews!', number_ones_path, class: 'btn btn-primary' %>
</div>  

