<div class="artist_header">
  Here are all of the artists reviewed on the site. 
  <br/>
  Click the album cover to read a review and click the album title to review the album yourself! 
</div>

<div class="artist_list"> 
  <table id="artist">
    <tr>
      <th>Artist</th>
      <th></th>
      <th>Album</th>
    </tr>
    <% last_artist ||= nil %>
    <% @pin_albums.each do |artist, pins| %> 
      <% pins.each do |pin| %> 
        <tr>
          <td><%= (last_artist == artist)  ?  ''   :   artist %></td>
          <td><%= link_to image_tag(pin.image), pin %></td>
          <td><%= link_to pin.album, copy_pin_path(pin) %></td>
        </tr>  
      <% end %>
      <% last_artist = artist %>           
    <% end %>
  </table>
</div>

<div class="artist_right_column">
  Total Reviews Posted: <%= @pins_total %>

  <br/>

  Total Artists Reviewed: <%= @artist_count %>

  <br/>
  
  Total Albums Reviewed: <%= @album_count %>
</div>  