<div class="comment_board">
	<div class="comment_title"><h1>Comment Board</h1></div>
	<table class="table-striped  table-condensed table-hover comment_board">
	  <tbody>
		  <tr>
			  <tr>
			    <th></th>	    
			    <th><h4>Album - Artist</h4></th>
			    <th><h4>Click On The Comment Below:</h4></th>
			    <th><h4>Commenter:</h4></th>
			    <th><h4>Reviewer:</h4></th>
			    <th><h4>Posted:</h4></th>
			  </tr>	
		    <% @comments.reverse.take(30).each do |comment| %>
		    	<td>
		      	<%= image_tag comment.pin.image %>
		    	</td>
		    	
		    	<td>
		      	<h4><%= comment.pin.album %> - <%= comment.pin.artist %></h4>
		    	</td>

		    	<td>
		      	<h4><%= link_to truncate(comment.body, length: 50), comment.pin %></h4>
		    	</td>

		    	<td>
		      	<%= link_to (image_tag comment.user.image(:small)), comment.user %>
		    	</td>

		    	<td>
		      	<%= link_to (image_tag comment.pin.user.image(:small)), comment.pin.user %>
		    	</td>

		    	<td>
		      	<%= time_ago_in_words(comment.created_at) %> ago</br>
		    	</td>
		    </tr>	    
		  <% end %>
		</tbody>    
	</table>
</div>
