<div class="comment_title"><h1>Comment Board</h1></div>
<table class="table-striped  table-condensed table-hover comment_board">
  <tbody>
	  <tr>
	   <tr>
	    <th></th>	    
	    <th>Album - Artist</th>
	    <th>Click On The Comment Below To Go To The Review:</th>
	    <th>Commenter:</th>
	    <th>Reviewer:</th>
	    <th>Posted:</th>
	   </tr>	
	    <% @comments.reverse.take(30).each do |comment| %>
	    	<td>
	      	<%= image_tag comment.pin.image %>
	    	</td>
	    	
	    	<td>
	      	<%= comment.pin.album %> - <%= comment.pin.artist %>
	    	</td>

	    	<td>
	      	<%= link_to truncate(comment.body, length: 50), comment.pin %>
	    	</td>

	    	<td>
	      	<%= link_to (image_tag comment.user.image(:small)), comment.user %>
	    	</td>

	    	<td>
	      	<%= link_to (image_tag comment.pin.user.image(:small)), comment.pin.user %>
	    	</td>

	    	<td>
	      	<%= time_ago_in_words(comment.created_at) %> ago</br>
	    	</td>
	    </tr>	    
	  <% end %>
	</tbody>    
</table>

