<div class="covers_header">
  <%= link_to "Shuffle The Covers", covers_path, class: "btn btn-primary" %>
  Browse The Album Covers...
</div>
<% @pins.shuffle.each do |pin| %>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <div class="covers">
          <%= link_to (image_tag pin.image), pin %>
        </div>
      </div>
      <div class="back">
        <%= link_to pin do %>
          <p><%= truncate(pin.album, length:20) %> by <br/><%= pin.artist %></p> 
          
          <br/>
          
          <%= link_to "Review This Abum", copy_pin_path(pin), class: "btn btn-primary" %>
        <% end %>  
      </div>      
    </div>
  </div>
<% end %>  

