<div id="home_wrapper">
  <div class="main-home-section"> 
    <div class="logo_section">
      <div class="logo">
        <%= link_to image_tag('tensLogo3resize.png'), root_path %>
      </div>
      
      <div class="tens_balloons"> 
        <%= link_to image_tag('starburst2012small.png'), tens2012_path %>
        <%= link_to image_tag('starburst2013small.png'), tens2013_path %>
        <%= link_to image_tag('starburst2014small.png'), tens2014_path %>
        <%= link_to image_tag('starburst2015small.png'), tens2015_path %>
      </div>  
    </div><!-- logo section -->  
    <div class="home_page_tens">
      <div class="home_page_tens_title">Editor's Picks</div>
      <div class="editors_picks">
        <%= render @pin_shuffle[0] %>
        <%= render @pin_shuffle[1] %>
        <%= render @pin_shuffle[2] %>  
      </div>   
    </div><!-- home page tens --> 
    
    <div class="home-page-box">
      <% if user_signed_in? == false %>
        <div class="sign_in_box">
          <p>Sign in and share what you're listening to!</p>
          
          <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large sign_up_button" %>
          
          <h5><%= link_to "Or Login", new_user_session_path, class: "btn btn-primary btn-xs" %>
          <p>
            <% if Pin.last.created_at >= 1.week.ago.utc %>
              Reviewer of the week is

              <br/>

               <%= @user_week.name %> 

               <br/><br/>

               <%= image_tag @user_week.image(:small), class: "sign_in_box_pic" %>
              
              <br/><br/>

              This week <%= @user_week.name %> posted <%= @user_week_count[1] %> reviews!
            <% end %> 
          </p>
        </div><!-- Sign_In_Box -->
    
      <% else %>

        <div class="sign_up_box">
          <!-- Single button -->
          <div class="avatar-home">
            <a class="avatar-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.image(:small), class: "header_pic" %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit Profile',  edit_user_registration_path %></li>
              <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
            </ul>
          </div><!-- avatar-home -->  
          <div class="home_page_profile">
            <p><%= current_user.name %></p>
            <p>Reviews Posted: <%= current_user.pins.count %></p>

            <hr>
            
            <p>Last Review Posted:</p>
            <p><%= time_ago_in_words(current_user.pins.last.created_at) %> ago</p>

            <hr>

            <p>Jump To Your:</p>

            <%= link_to "5 Stars", tens5star_user_path(current_user), class: "btn btn-primary "  %>
            <%= link_to "#1's", tensnum1s_user_path(current_user), class: "btn btn-primary " %>
          </div><!-- home_page_profile -->  
          
          <div class="review-button"><%= link_to 'New Review',  new_pin_path, class: "btn btn-danger new_review" %></div> 
        </div><!-- Sign_Up_Box -->

      <% end %> 
    
      <div class="home_social">
        <%= link_to image_tag("FB_logo.png"), "https://www.facebook.com/pages/The-Tens/271346382911804", :target => "_blank" %>
  
        <%= link_to image_tag("twitter29x29.png"), "http://www.twitter.com/thetensreviews", :target => "_blank" %>
        <%= link_to image_tag("Instagram_small.png"), "http://www.instagram.com/thetensreviews", :target => "_blank" %>

        <%= link_to image_tag("Email_Icon.png"), "http://thetens.us3.list-manage.com/subscribe?u=7bded0743382d632d8e3bdad8&id=077fc54055", :target => "_blank" %>
      </div>  
    </div><!-- Home_Page_Box -->   
  </div><!-- Main Home Section -->
  
  <!-- Newest reviews -->
  
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Newest Reviews:</p>
        <%= link_to "All Reviews...", "http://www.thetens.us/pins" %>
      </div>  
      <% @pins_newest.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>

          <p>   
            <% if pin.rating == "1" %>
              <span class="rating r1"></span>
                <% elsif pin.rating == "1.5" %>
                  <span class="rating r15"></span>  
                <% elsif pin.rating == "2" %>
                  <span class="rating r2"></span>
                <% elsif pin.rating == "2.5" %>
                  <span class="rating r25"></span>  
                <% elsif pin.rating == "3" %>
                  <span class="rating r3"></span>
                <% elsif pin.rating == "3.5" %>
                  <span class="rating r35"></span>    
                <% elsif pin.rating == "4" %>
                  <span class="rating r4"></span>
                <% elsif pin.rating == "4.5" %>
                  <span class="rating r45"></span>  
                <% elsif pin.rating == "5" %>
                  <span class="rating r5"></span>     
                <% else %>
                  <span class="rating r0"></span> 
            <% end %>
          </p>  
          <p>
            <strong><h5>Posted by <%= link_to pin.user.name, pin.user %> </h5></strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Newest reviews -->

  <!-- Rock reviews -->
  
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Rock Reviews:</p>
        <%= link_to "All Rock Reviews...", "http://www.thetens.us/tags/Rock" %>
      </div>  
      <% @pins_rock.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          </p>

          <p>   
            <% if pin.rating == "1" %>
              <span class="rating r1"></span>
                <% elsif pin.rating == "1.5" %>
                  <span class="rating r15"></span>  
                <% elsif pin.rating == "2" %>
                  <span class="rating r2"></span>
                <% elsif pin.rating == "2.5" %>
                  <span class="rating r25"></span>  
                <% elsif pin.rating == "3" %>
                  <span class="rating r3"></span>
                <% elsif pin.rating == "3.5" %>
                  <span class="rating r35"></span>    
                <% elsif pin.rating == "4" %>
                  <span class="rating r4"></span>
                <% elsif pin.rating == "4.5" %>
                  <span class="rating r45"></span>  
                <% elsif pin.rating == "5" %>
                  <span class="rating r5"></span>     
                <% else %>
                  <span class="rating r0"></span> 
            <% end %>
          </p>
          <p>
            <strong><h5>Posted by <%= link_to pin.user.name, pin.user %></h5> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>
  <!-- Rock reviews -->

  <!-- Pop reviews -->
 
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Pop Reviews:</p>
        <%= link_to "All Pop Reviews...", "http://www.thetens.us/tags/Pop" %>
      </div>  
      <% @pins_pop.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>  
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>

          <p>   
            <% if pin.rating == "1" %>
              <span class="rating r1"></span>
                <% elsif pin.rating == "1.5" %>
                  <span class="rating r15"></span>  
                <% elsif pin.rating == "2" %>
                  <span class="rating r2"></span>
                <% elsif pin.rating == "2.5" %>
                  <span class="rating r25"></span>  
                <% elsif pin.rating == "3" %>
                  <span class="rating r3"></span>
                <% elsif pin.rating == "3.5" %>
                  <span class="rating r35"></span>    
                <% elsif pin.rating == "4" %>
                  <span class="rating r4"></span>
                <% elsif pin.rating == "4.5" %>
                  <span class="rating r45"></span>  
                <% elsif pin.rating == "5" %>
                  <span class="rating r5"></span>     
                <% else %>
                  <span class="rating r0"></span> 
            <% end %>
          </p>
          <p>
            <strong><h5>Posted by <%= link_to pin.user.name, pin.user %></h5> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Pop reviews -->

  <!-- Rap reviews -->
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Rap Reviews:</p>
        <%= link_to "All Rap Reviews...", "http://www.thetens.us/tags/Rap" %>
      </div>  
      <% @pins_rap.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>  
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>

          <p>   
            <% if pin.rating == "1" %>
              <span class="rating r1"></span>
                <% elsif pin.rating == "1.5" %>
                  <span class="rating r15"></span>  
                <% elsif pin.rating == "2" %>
                  <span class="rating r2"></span>
                <% elsif pin.rating == "2.5" %>
                  <span class="rating r25"></span>  
                <% elsif pin.rating == "3" %>
                  <span class="rating r3"></span>
                <% elsif pin.rating == "3.5" %>
                  <span class="rating r35"></span>    
                <% elsif pin.rating == "4" %>
                  <span class="rating r4"></span>
                <% elsif pin.rating == "4.5" %>
                  <span class="rating r45"></span>  
                <% elsif pin.rating == "5" %>
                  <span class="rating r5"></span>     
                <% else %>
                  <span class="rating r0"></span> 
            <% end %>
          </p>
          <p>
            <strong><h5>Posted by <%= link_to pin.user.name, pin.user %></h5> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Rap reviews -->

  <!-- Alternative reviews -->
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Alternative Reviews:</p>
        <%= link_to "All Alternative Reviews...", "http://www.thetens.us/tags/Alternative" %>
      </div>  
      <% @pins_alternative.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>  
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>

          <p>   
            <% if pin.rating == "1" %>
              <span class="rating r1"></span>
                <% elsif pin.rating == "1.5" %>
                  <span class="rating r15"></span>  
                <% elsif pin.rating == "2" %>
                  <span class="rating r2"></span>
                <% elsif pin.rating == "2.5" %>
                  <span class="rating r25"></span>  
                <% elsif pin.rating == "3" %>
                  <span class="rating r3"></span>
                <% elsif pin.rating == "3.5" %>
                  <span class="rating r35"></span>    
                <% elsif pin.rating == "4" %>
                  <span class="rating r4"></span>
                <% elsif pin.rating == "4.5" %>
                  <span class="rating r45"></span>  
                <% elsif pin.rating == "5" %>
                  <span class="rating r5"></span>     
                <% else %>
                  <span class="rating r0"></span> 
            <% end %>
          </p>
          <p>
            <strong><h5>Posted by <%= link_to pin.user.name, pin.user %></h5> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Alternative reviews -->
</div> <!-- Wrapper --> 