<div id="home_wrapper">
  <div class="main-home-section">
    <% if user_signed_in? == false %>
    <div class="logo_section">
      <div class="logo">
        <%= link_to image_tag('tensLogo3resize.png'), root_path %>
      </div>
      
      <div class="tens_balloons"> 
        <%= link_to image_tag('starburst2012small.png'), tens2012_path %>
        <%= link_to image_tag('starburst2013small.png'), tens2013_path %>
        <%= link_to image_tag('starburst2014small.png'), tens2014_path %>
        <%= link_to image_tag('starburst2015small.png'), tens2015_path %>
      </div>  
    </div>  
      <div class="home_page_tens">
        <div class="home_page_tens_title">Editor's Picks</div>
        <div class="editors_picks">
          <%= render @pin_shuffle[0] %>
          <%= render @pin_shuffle[1] %>
          <%= render @pin_shuffle[2] %>  
        </div>   
      </div>
      <div class="home-page-box">
        <div class="sign_up_box">
          <h4>Sign in and share what you're listening to!</h4>
          
          <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large sign_up_button" %>
          
          <h5><%= link_to "Or Login", new_user_session_path, class: "btn btn-primary btn-xs" %>
        </div>
      </div>  
    <% else %>
      <div class="logo_section">
        <div class="logo">
          <%= link_to image_tag('tensLogo3resize.png'), root_path %>
        </div>
        
        <div class="tens_balloons"> 
          <%= link_to image_tag('starburst2012small.png'), tens2012_path %>
          <%= link_to image_tag('starburst2013small.png'), tens2013_path %>
          <%= link_to image_tag('starburst2014small.png'), tens2014_path %>
          <%= link_to image_tag('starburst2015small.png'), tens2015_path %>
        </div>  
      </div>  
      <div class="home_page_tens">
        <div class="home_page_tens_title">Editor's Picks</div>
        <div class="editors_picks">
          <%= render @pin_shuffle[0] %>
          <%= render @pin_shuffle[1] %>
          <%= render @pin_shuffle[2] %>  
        </div>   
      </div>
      
      <div class="home-page-box">
        <div class="sign_up_box">
          <!-- Single button -->
          <div class="avatar-home">
            <a class="avatar-button dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <%= image_tag current_user.image(:small), class: "header_pic" %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'Edit Profile',  edit_user_registration_path %></li>
              <li><%= link_to 'Logout',  destroy_user_session_path, method: :delete %></li>
            </ul>
          </div> 
          <div class="home_page_profile">
            <p><%= current_user.name %></p>
            <p>Reviews Posted: <%= current_user.pins.count %></p>

            <hr>
            
            <p>Last Review Posted:</p>
            <p><%= time_ago_in_words(current_user.pins.last.created_at) %> ago</p>

            <hr>

            <p>Jump To Your:</p>

            <%= link_to "5 Stars", tens5star_user_path(current_user), class: "btn btn-primary "  %>
            <%= link_to "#1's", tensnum1s_user_path(current_user), class: "btn btn-primary " %>

          </div>  
          <div class="review-button"><%= link_to 'New Review',  new_pin_path, class: "btn btn-danger new_review" %></div> 


        </div>
      </div>  
    <% end %>
  </div>
  
  <!-- Newest reviews -->
  
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Newest Reviews:</p>
        <%= link_to "All Reviews...", "http://localhost:3000" %>
      </div>  
      <% @pins_newest.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>
          <p>
            <strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Newest reviews -->

  <!-- Rock reviews -->
  
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Rock Reviews:</p>
        <%= link_to "All Rock Reviews...", "http://localhost:3000/tags/Rock" %>
      </div>  
      <% @pins_rock.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>
          <p>
            <strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>
  <!-- Rock reviews -->

  <!-- Pop reviews -->
 
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Pop Reviews:</p>
        <%= link_to "All Pop Reviews...", "http://localhost:3000/tags/Pop" %>
      </div>  
      <% @pins_pop.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>  
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>
          <p>
            <strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Pop reviews -->

  <!-- Rap reviews -->
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Rap Reviews:</p>
        <%= link_to "All Rap Reviews...", "http://localhost:3000/tags/Rap" %>
      </div>  
      <% @pins_rap.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>  
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>
          <p>
            <strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Rap reviews -->

  <!-- Alternative reviews -->
    <div class="home_page_rows">
      <hr>
      <div class="home_page_rows_header">
        <p>Alternative Reviews:</p>
        <%= link_to "All Alternative Reviews...", "http://localhost:3000/tags/Alternative" %>
      </div>  
      <% @pins_alternative.each do |pin| %>
        <div class="short_box">
          <div class="short_box_image_box">
            <%= link_to (image_tag pin.image(:medium)), pin %>
          </div>  
          <p class="description">
            <strong><h5><%= truncate(pin.album, length: 25) %><h5></strong>
          </p>
          <p class="description">
            <strong><h5><%= pin.artist %> - <%= pin.year %><h5></strong>
          
          </p>
          <p>
            <strong>Posted by <%= link_to pin.user.name, pin.user %> </strong>
          </p>  
        </div>  
      <% end %> 
    </div>  
  <!-- Alternative reviews -->
</div> <!-- Wrapper --> 