<h1>Check Out Who's Reviewing Albums on theTens...</h1>
<table class="table-striped table-bordered table-condensed table-hover">
  <tbody>
	  <tr>
	   <tr>
	    <th></th>
	    <th>Reviewer:</th>
	    <th>Number of reviews:</th>
	    <th>Words Of Wisdom:</th>
	    <th>Twitter:</th>
	    <th>last.fm:</th>
	    <th>5 Star Reviews:</th>
	    <th>#1 Ranked Albums:</th>
	   </tr>	
	    <% @users.each do |user| %>
	    	<td>
	      	<%= link_to (image_tag user.image(:small)), user %>
	    	</td>
	    	
	    	<td>
	      	<%= link_to user.name, user %>
	    	</td>

	    	<td>
	      	<%= link_to (user.pins.count), user %>
	    	</td>

	    	<td id="status">
	    		<% if user.status.present? %>
	      	  <%= user.status %>
	      	<% end %>  
	    	</td>

	    	<td>
	      	<% if user.twitter.present? %>
	      		<%= link_to image_tag("twitter-bird-white-on-blue.png"), "http://www.twitter.com/" + user.twitter, :target => "_blank" %>
	      	<% end %>	
	    	</td>

	    	<td>
	      	<% if user.lastfm.present? %>
	      		<%= link_to image_tag("Last.fm_Logo_Red.jpg"), "http://www.last.fm/user/" + user.lastfm, :target => "_blank" %>
	      	<% end %>	
	    	</td>
	    	
	    	<td>
	      	<%= link_to image_tag("5star.gif"), tens5star_user_path(user)  %>
	    	</td>

	    	<td id="ones">
	    		<%= link_to "#1's", tensnum1s_user_path(user), class: "btn btn-primary " %>
	    	</td>	
	    </tr>	    
	  <% end %>
	</tbody>    
</table>