<%= div_for(blog_comment) do %>
	<%= h(blog_comment.body) %>
	<p class="comments">
		<strong>Posted <%= time_ago_in_words(blog_comment.created_at) %> ago by <%= image_tag blog_comment.user.image(:small), class: "smallpic_comment" %><%= blog_comment.user.name %></strong></br>
	</p>
	<% if user_signed_in? %>
		<% if current_user == blog_comment.user || current_user.admin? %>	
			<%= link_to 'Destroy', blog_comment, method: :delete, data: { confirm: 'Are you sure?' } %>
		<% end %>	
	<% end %>	
<% end %>	