<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="row header_row1">
    <div class="header_title">
      The Music Review Site Where <span style="color: #FB0505"><strong>YOUR</strong></span> Opinion Matters
    </div>
  </div>
  <div class="row header_row2">  
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tens_nav">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
    <div class="container">
      <div class="collapse navbar-collapse" id="tens_nav"> 
        <ul class="nav navbar-nav navbar-left">
          <li class="home">
            <%= link_to image_tag('homeicon.png'), root_path %>  
          </li> 
          <li>    
            <%= link_to 'theReviewers',  reviewers_path, class: "header_text" %>
          </li>
          <li>    
            <%= link_to 'theComments',  comments_board_path %>
          </li>    
          <li>
            <%= link_to 'theStats',  stats_path %>
          </li>  
          <li>
            <%= link_to 'theBlog',  blog_path %>
          </li>
          <li>
            <%= link_to 'theSort',  '#' %>
          </li>
        </ul>  
          
        <div class="index_search">
          <form class="form" role="search">
            <div class="input-group pull-right search_box">
              <input type="text" class="form-control" placeholder="Search" name="search" id="search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div>  
</nav>
