<!DOCTYPE html>
<html>
  <head>
    <title>theTens</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="image_src" type="image/jpeg" href="http://thetens.us/assets/images/og-image.png" />
    <meta property="og:image" content="<%= og_image_path %>">
    <meta property="og:url" content="<%= og_url_path %>">
    <meta property="og:title" content="Album Review: <%= og_title_path %>">
    <meta property="og:description" content="www.TheTens.us - The Music Review Site Where YOUR Opinion Matters">
  </head>
  <body>
    <%= render 'layouts/header' %>

    <% if notice %>
      <div id="notice_wrapper">
        <p class="notice"><%= notice %></p>
      </div>  
    <% elsif alert %>
      <div id="notice_wrapper">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="container">
      <% flash.each do |name, msg|
         content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>  
      <%= yield %>
      
    </div>

    <%= render 'layouts/footer' %>
    
    <%= render 'layouts/google_analytics' %>
  </body>
</html>