<!DOCTYPE html>
<html>
  <head>
    <title>theTens</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'jquery', 'application' %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="image_src" type="image/jpeg" href="http://thetens.us/assets/images/og-image.png" />
    <meta property="og:image" content="<%= og_image_path %>">
    <meta property="og:url" content="<%= og_url_path %>">
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |name, msg|
         content_tag(:div, msg, class: "alert alert-#{name}") %>
      <% end %>  
      <%= yield %>
      
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>